
.sidebar-item{
    display: flex;
    align-items: center;
    gap: 15px;
    background:cornsilk;
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    width: 90px;



}

.sidebar-item-text{

    color: #8f8f8f;
}

.tab-bar{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;

}


.button-buy-now{
    padding: 6px 5px;
    border: none;
    border-radius: 12px;
    background-color:rgb(185, 222, 202);

}

.button-buy-now:hover{
    cursor: pointer;
    background-color: #8f8f8f;
}


.sidebar-item:hover{

    cursor: pointer;
    background-color: #8f8f8f;
}

.test-icon{

    align-items: center;
    padding: 20px;
    
}

img{
    width: 35px;
}

.sidebar-item-icon{
    color: rgb(185, 222, 202);
}